
#status-light {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: lightgray;
	-webkit-transition: background-color 300ms ease-in;
	-moz-transition: background-color 300ms ease-in;
	-o-transition: background-color 300ms ease-in;
	transition: background-color 300ms ease-in;
}

body {
	background-color: lightgray;
	-webkit-transition: background-color 500ms ease-in;
	-moz-transition: background-color 500ms ease-in;
	-o-transition: background-color 500ms ease-in;
	transition: background-color 500ms ease-in;
}


.mycoolstuff {
	height: 100%;
	/*height: 100%;*/
	position: fixed;
	top: 0;
	left: 0;
	z.index: -100;
}

.mylogo {
	z.index: 500;
}
