body {
	background-color: lightgray;
}

#mycoolstuff {
	background-color: gray;
	width: 105%;
	position: fixed;
	top: 0;
	right: 0;
	
	z.index: -100;
	-webkit-transition: background-color 500ms ease-in;
	-moz-transition: background-color 500ms ease-in;
	-o-transition: background-color 500ms ease-in;
	transition: background-color 500ms ease-in;
}
